.cart-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.cart-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-image{
    width: 500px;
    opacity: 0.3;
}
.cart-heading{
    font-family: 'Source Serif 4', serif;
    color: #372b28;
}
.cart-button{
    margin: 20px;
    font-family: 'Source Serif 4', serif;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}
.cart-button:hover{
    background-color: #372b28;
    color: white;
}
@media screen and (min-width:320px) and (max-width:576px){
    .cart-image{
        width: 100%;
    }
    .cart-heading{
        font-size: 20px;
    }
    .cart-button{
        font-size: 15px;
    }
}