.comission-page-heading-container{
    background-image: linear-gradient(to left,white,#e7effa);
    height: 200px;
    width: 100%;
}
.comission-page-heading-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.comission-bg{
    display: flex;
    box-sizing: border-box;
    padding: 30px;
    justify-content: space-evenly;
    font-family: 'Source Serif 4', serif;
    color: #021a4a;
}
.comission-card-content{
    width: 40%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comission-card-image{
    width: 35%;
    height: 700px;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
.comission-card-image:hover{
    transform: scale(1.2);
}
.comission-card-image>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.comission-card-form-container{
    background-color: #e2ebf7;
    padding: 10px;
    box-sizing: border-box;
    height: 70%;
}
.comission-form-name-container{
    display: flex;
    justify-content: space-between;
}
.comission-form-name,.comission-form-phone{
    width: 45%;
    font-size: 15px;
    padding: 10px;
    border: none;
    font-family: 'Source Serif 4', serif;
}
.comission-form-email{
    height: 40px;
    font-size: 15px;
    padding: 10px;
    border: none;
    font-family: 'Source Serif 4', serif;
    width: 100%;
}
.comission-form-comment{
    font-size: 15px;
    padding: 10px;
    border: none;
    font-family: 'Source Serif 4', serif;
    width: 100%;
}
.comission-card-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.comission-button{
    color: white;
    background-color: #021a4a;
    border-style: none;
    border-width: 0px;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Source Serif 4', serif;
    font-size: 15px;
    letter-spacing: 2px;
}
.comission-card-image-small{
    display: none;
}
.comission-page-heading-container>img{
    display: none;
}
.comission-card-content-container{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.comission-card-content-para{
    font-size: 18px;
}
@media screen and (min-width:320px) and (max-width:576px){
    .comission-bg{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .comission-card-content{
        width: 100%;
    }
    .comission-card-image{
        width: 100%;
    }
    .comission-page-heading-container{
        height: 80px;
    }
    .comission-card-content-heading{
        font-size: 25px;
    }
    .comission-card-content-para{
        font-size: 15px;
        font-family: 'Quicksand', sans-serif !important;
    }
    .comission-card-image-small{
        display: block;
        width:100%;
        height: 240px;
        margin-top: 15px;
    }
    .comission-card-image-small>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .comission-card-image{
        display: none;
    }
    .comission-card-form-container{
        height: 490px;
        margin-top: 15px;
    }
    .comission-form-name-container{
        display: flex;
        flex-direction: column;
        height: 20%;
    }
    .comission-form-name{
        width: 100%;
    }
    .comission-form-phone{
        width: 100%;
    }
    .comission-card-content-para{
        margin-top: 15px;
    }
    .comission-card-content-container{
        height: fit-content;
    }
}
@media screen and (min-width:577px) and (max-width:769px){
    .comission-page-heading-container{
        height: 150px;
    }
    .comission-card-content-heading{
        font-size: 25px;
    }
    .comission-card-image{
        display: none;
    }
    .comission-card-content{
        width: 100%;
    }
    .comission-card-form-container{
        height: 450px;
        margin-top: 15px;
    }
    .comission-card-content-para{
        margin-top: 15px;
    }
    .comission-bg{
        padding: 20px;
    }
    .comission-page-heading-container>img{
        display: block;
        width: 100%;
    }
}
@media screen and (min-width:769px) and (max-width:1025px){
    .comission-card-image{
        display: none;
    }
    .comission-card-content-container{
        width: 50%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .comission-card-content{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0px;
    }
    .comission-bg{
        padding: 20px;
    }
    .comission-card-form-container{
        width: 50%;
        height: 430px;
    }
    .comission-card-content-para{
        margin-top: 15px;
    }
    .comission-page-heading-container>img{
        display: block;
        width: 100%;
    }
}
@media screen and (min-width:1025px) and (max-width:1440px) {
    .comission-bg{
        padding: 20px;
    }
    .comission-card-content{
        width: 50%;
    }
    .comission-card-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .comission-card-content-para{
        margin-top: 15px;
    }
    .comission-card-form-container{
        height: 450px;
        margin-top: 15px;
    }
    
}