.carousal-bg-container{
    position: relative;
    height: 700px;
}
.carousal-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousal-btn-container{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 99%;
    left: 0.5%;
}
.carousal-btn-container>button{
    color: white;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
}
.carousal-btn-container-small{
    display: none;
}
.carousal-btn-container>button:hover{
    border: solid 1px white;
}
@media screen and (min-width:320px) and (max-width:576px){
    .carousal-bg-container{
        height: 200px;
    }
    .carousal-btn-container{
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 100%;
        width: 99%;
        left: 0.5%;
    }
    .carousal-btn-container{
        top:25%
    }
    .carousal-btn-container-small{
        display: none;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        width: 99%;
        left: 0.5%;
    }
    .carousal-btn-container-small>button{
        color: white;
        background-color: #372b28;
        border: none;
    }
}
@media screen and (min-width:577px) and (max-width:769px){
    .carousal-bg-container{
        height: 400px;
    }
    .carousal-btn-container-small{
        display: none;
    }
    .carousal-btn-container{        
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 40%;
        width: 99%;
        left: 0.5%;
    }
}
@media screen and (min-width:769px) and (max-width:1025px){
    .carousal-bg-container{
        height: 500px;
    }
    .carousal-btn-container{        
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        width: 99%;
        left: 0.5%;
    }
}