.creative-card-bg{
    padding: 50px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin: 40px 0px 0px 0px;
}
.creative-card-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.creative-card-content>h1{
    color: #021a4a;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 20px;
}
/* .creative-card-content>h1>span{
    font-family: 'Quicksand', sans-serif;
    font-size: 55px;
    color: #372b28;
} */
.creative-image-bg{
    /* background-color: #f4e8e8;
    padding: 20px; */
    width: 35%;
    height: 500px;
}
.creative-card-bg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.creative-card-para{
    /* font-family: 'Source Serif 4', serif; */
    font-family: 'Quicksand', sans-serif;
    /* color: #abbcd9; */
    color: #021a4a;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.creative-card-button{
    color: white;
    /* background-color: #372b28; */
    background-color: #394a6e;
    border-style: none;
    border-width: 0px;
    box-sizing: border-box;
    padding: 15px;
    font-family: 'Source Serif 4', serif;
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
    border: solid 1px #394a6e;
}
.creative-card-button:hover{
    background-color: transparent;
    color: #394a6e;
    border: solid 1px #394a6e;
}
.creative-us-img1-small{
    width: 100%;
    display: none;
}
@media screen and (min-width:320px) and (max-width:576px){
    .creative-card-bg{
        display: flex;
        flex-direction: column;
    }
    .creative-image-bg>img{
        width: 100%;
    }
    .creative-image-bg{
        /* padding: 10px; */
        padding-bottom: 20px;
        width: 100%;
        height: 350px;
    }
    .creative-card-bg{
        padding: 10px;
    }
    .creative-card-content>h1{
        font-size: 30px;
        font-weight: 400;
    }
    .creative-card-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        box-sizing: border-box;
        padding: 10px;
    }
    .creative-card-content>button{
        font-size: 12px;
    }
    .creative-card-content>h1>span{
        font-size: 30px;
        font-weight: bold;
    }
    .creative-card-para{
        font-size: 15px;
    }
}
@media screen and (min-width:577px) and (max-width:769px){
    .creative-image-bg>img{
        width: 100%;
    }
    .creative-card-bg{
        padding: 15px;
        margin: 20px 0px 20px 0px;
    }
    .creative-image-bg{
        width: 50%;
        height: 400px;
    }
    .creative-image-bg>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .creative-card-content>h1{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .creative-card-content{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        box-sizing: border-box;
        padding: 10px;
    }
    .creative-card-content>button{
        font-size: 10px;
        margin-top: 15px;
    }
    .creative-card-content>h1>span{
        font-size: 30px;
        font-weight: bold;
    }
    .creative-card-para{
        font-size: 15px;
    }
}
@media screen and (min-width:769px) and (max-width:1025px){
    .creative-card-bg{
        padding: 30px;
    }
    .creative-image-bg{
        width: 50%;
    }
    .creative-image-bg>img{
        width: 100%;
    }
    .creative-card-content{
        width: 50%;
        padding: 0px 0px 0px 15px;
    }
    .creative-card-content h1{
        font-size: 40px;
    }
    .creative-card-button{
        font-size: 15px;
    }
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .creative-card-bg{
        padding: 25px;
    }
    .creative-image-bg{
        width: 45%;
    }
    .creative-image-bg>img{
        width: 100%;
    }
    .creative-card-content{
        width: 45%;
    }
    .creative-card-content>h1{
        font-size: 28px;
        font-weight: 500;
    }
    .creative-card-content>h1>span{
        font-size: 48px;
    }
}