.shop-container-bg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    overflow-y: hidden;
    width: 100%;
}
.shop-image-container-bg{
    width: 30%;
    margin-bottom: 40px;
    cursor: pointer;
}
.shop-image-container{
    width: 100%;
    height:400px
}
.shop-image-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shop-offer-container{
    position: absolute;
    top: 0%;
    font-family: 'Source Serif 4', serif;
    background-color: #613d3c;
    color: white;
    box-sizing: border-box;
    padding: 5px;
}
.shop-offer-container>span{
    font-size: 12px;
}
.shop-card-text-container{
    box-sizing: border-box;
    padding: 10px;
}
.shop-card-text-container>h1{
    font-family: 'Source Serif 4', serif;;
    color: #021a4a;
    font-size: 200;
}
.shop-filter-container{
    width: 20%;
    height: fit-content;
    padding: 0px;
    display: block;
}
.shop-filter-main-container{
    padding: 20px;
}
.shop-page-main-container{
    display: flex;
}
.shop-container-main{
    width: 80%;
}
.shop-page-root-container{
    padding: 15px;
}
.shop-card-text-container>h1{
    font-size: 20px;
}
.shop-card-original-price{
    color: #8a8a8a;
    text-decoration: line-through;
    margin-right: 10px;
}
.shop-card-discount-price{  
    color:#224286;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}
.shop-card-pagination{
    display: flex;
    justify-content: center;
}
.shop-card-pagination>div{
    width: 10%;
    display: flex;
    justify-content: space-between;
}
.shop-card-pagination-numbers{
    box-sizing: border-box;
    padding: 8px;    
    cursor: pointer;
    background-color: #613d3c;
    color: white;
    font-family: 'Source Serif 4', serif;
}
.shop-card-price-container{
    margin-top: 10px;
}
.shop-filter-container>h1{
    margin: 0px 0px 10px 0px;
    font-family: 'Source Serif 4', serif;;
    color: #021a4a;
    font-weight: 400;
    font-size: 30px;
    border: solid;
    border-color: #021a4a;
    border-width: 0px 0px 1px 0px;
    padding: 0px 0px 13px 0px;
}
.category-filter-main-container{
    padding: 0px 10px 10px 10px;
}
.category-filter{
    margin: 0px 0px 5px 0px;
}
.category-filter>label{
    font-size: 17px;
    color: #637396;
}
.category-filter>input{
    margin: 0px 3px 0px 0px;
}
.amount-filter-container>h1, .category-filter-container>h1{
    margin: 0px 0px 10px 0px;
    font-family: 'Source Serif 4', serif;;
    color: #021a4a;
    font-weight: 400;
    font-size: 30px;
    border: solid;
    border-color: #021a4a;
    border-width: 0px 0px 1px 0px;
    padding: 0px 0px 13px 0px;
}
.shop-filter-container{
    width: 100%;
}
.amount-filter-main-container{
    padding:10px
}
.amount-filter{
    margin-bottom: 3px;
}
.amount-filter>label{
    font-size: 17px;
    color: #637396;
}
.amount-filter>input{
    margin: 0px 3px 0px 0px;
}
.shop-filter-btn{
    padding: 10px 3px 10px 3px;
    font-size: 15px;
    width: 60px;
    display: none;
}
.shop-filter-container-active{
    display: none;
}
@media screen and (min-width:320px) and (max-width:576px){
    .shop-page-root-container{
        padding: 5px;
    }
    .shop-page-main-container{
        flex-direction: column;
    }
    .shop-image-container-bg{
        width: 100%;
    }
    .shop-filter-container{
        width: 100%;
        display: none;
    }
    .shop-filter-container-active{
        display: block;
    }
    .shop-container-bg{
            width: 100%;
        padding: 5px;
    }
    .shop-container-main{
        width: 100%;
    }
    .shop-image-container{
        height: 300px;
    }
    .shop-filter-btn{
        display: block;
    }

}
@media screen and (min-width:577px) and (max-width:769px){
    .shop-image-container-bg{
        width: 48%;
    }
    .shop-card-text-container>h1{
        font-size: 15px;
    }
    .shop-card-original-price{
        font-size: 13px;
    }
    .shop-card-discount-price{  
        font-size: 13px;
    }
    .shop-offer-container>span{
        font-size: 10px;
    }
    .shop-offer-container{
        padding: 2px;
        box-sizing: border-box;
        width: fit-content;
    }
    .shop-page-root-container{
        padding: 5px;
    }
    .shop-page-main-container{
        flex-direction: column;
    }
    .category-filter-container, .amount-filter-container{
        width:49%;
        padding: 5px;
    }
    .shop-filter-container{
        width: 100%;
        padding: 10px;
        display: none;
        justify-content: space-between;
        border: solid 1px black;
    }
    .shop-filter-container-active{
        display: flex;
    }
    .filter-heading{
        font-size: 10px;
    }
    .amount-filter-container>h1, .category-filter-container>h1{
        font-size: 25px;
    }
    .amount-filter-main-container{
        margin: 0px;
        padding: 0px 0px 0px 10px;
    }
    .shop-container-main{
        width: 100%;
    }
    .shop-container-bg{
        padding: 10px;
    }
    .shop-image-container{
        height: 300px;
    }
    .shop-filter-btn{
        display: block;
    }
}
@media screen and (min-width:769px) and (max-width:1025px){
    .shop-image-container-bg{
        width: 23%;
    }
    .shop-page-main-container{
        flex-direction: column;
    }
    .category-filter-container, .amount-filter-container{
        width:49%;
        padding: 5px;
    }
    .shop-filter-container{
        width: 100%;
        padding: 10px;
        display: none;
        justify-content: space-between;
        border: solid 1px black;
    }
    .shop-filter-container-active{
        display: flex;
    }
    .filter-heading{
        font-size: 10px;
    }
    .amount-filter-container>h1, .category-filter-container>h1{
        font-size: 25px;
    }
    .amount-filter-main-container{
        margin: 0px;
        padding: 0px 0px 0px 10px;
    }
    .shop-container-main{
        width: 100%;
    }
    .shop-container-bg{
        padding: 10px;
    }
    .shop-image-container{
        height: 250px
    }
    .shop-image-container-bg{
        width: 30%;
    }
    .shop-filter-btn{
        display: block;
    }
}
@media screen and (min-width:1025px) and (max-width:1441px){
    .shop-card-text-container>h1{
        font-size: 15px;
    }
    .shop-card-original-price{
        font-size: 13px;
    }
    .shop-card-discount-price{  
        font-size: 13px;
    }
    .shop-offer-container>span{
        font-size: 10px;
    }
    .shop-image-container{
        height: 250px
    }
}
