.about-card-main-container{
    /* background-image: url('https://static.wixstatic.com/media/112644_4dab4af0a1294bf4bac990dcbbd2b9ec~mv2.jpg/v1/fill/w_1899,h_641,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/112644_4dab4af0a1294bf4bac990dcbbd2b9ec~mv2.jpg'); */
    display: flex;
    justify-content: center;
}
.abour-card-main-container::before{
    background-color: rgb(255, 249, 249);

}
.about-card-bg{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 80%;
}
.about-card-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
    color: #372b28;
}
.about-card-text>h1{
    font-size: 50px;
    margin-bottom: 20px;
    color: #394a6e;
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
}
.about-card-text>p{
    font-size: 20px;
    /* letter-spacing: 2px; */
    line-height: 30px;
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    color: #021a4a;
}
.about-card-images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 600px;
}
.about-card-button{
    color: white;
    background-color: #394a6e;
    border-style: none;
    border-width: 0px;
    box-sizing: border-box;
    padding: 15px;
    font-family: 'Source Serif 4', serif;
    font-size: 15px;
    letter-spacing: 2px;
    border: solid 1px #394a6e;
    cursor: pointer;
}
.about-card-button:hover{
    background-color: transparent;
    color: #394a6e;
}
.about-us-img1-small{
    display: none;
}
.about-us-img2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (min-width:320px) and (max-width:576px){
    .about-card-bg{
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }
    .about-card-text{
        width: 100%;
        padding: 0px;
    }
    .about-card-text>h1{
        font-size: 40px;
    }
    .about-card-text>p{
        font-size: 15px;
    }
    .about-card-text>button{
        font-size: 12px;
    }
    .about-us-img1-small{
        width: 100%;
        display: block;
        margin: 0px 0px 15px 0px;
    }
    .about-card-images{
        display: none;
    }
}
@media screen and (min-width:577px) and (max-width:769px){
    .about-card-bg{
        padding: 15px;
        width: 100%;
    }
    .about-us-img1{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: none;
    }
    .about-us-img2{
        width: 100%;
        object-fit: fill;
    }
    .about-card-images{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        height: 480px;
    }
    .about-card-text{
        padding: 20px;
    }
    .about-card-text>h1{
        font-size: 40px;
    }
    .about-card-text>p{
        font-size: 15px;
        letter-spacing: 0px;
    }
    .about-card-text>button{
        font-size: 10px;
        margin-top: 10px;
    }
}
@media screen and (min-width:769px) and (max-width:1025px){
    .about-card-main-container{
        padding: 15px;
    }
    .about-card-bg{
        width: 100%;
    }
    .about-card-text{
        width: 50%;
    }
    .about-card-images{
        width: 50%;
    }
    .about-us-img1{
        width: 100%;
    }
    .about-us-img2{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .about-us-img1{
        display: none;
    }
}